<?php

return [
    "db_local"=>[
        "host"=>"",
        "name"=>"",
        "user"=>"",
        "password"=>""
    ],
    "db_remote"=>[
        "host"=>"",
        "name"=>"",
        "user"=>"",
        "password"=>""
    ]
];